---
layout: article
title: Explore Scallop eDNA with Maine woDNA!
excerpt: >
  An interactive website to virtually complete your own eDNA experiment!
article_header:
  type: overlay
  background_image:
    gradient: 'linear-gradient(135deg, rgba(34, 139, 87 , .4), rgba(139, 34, 139, .4))'
    src: ../assets/images/SampleBackground1.jpg
---

Can i just add some content below the image? Maybe some buttons? Or leave it blank so you have to navigate from the nav bar
Back to article, adding text to verify if it worked. Added full path of background image as well? i would like to see it appear...
Now removed https and just have total file path from original directory? Now trying their image from the example, under docs/assets
now using ../../assets/images/SampleBackground1.jpg as path... and now back to ../assets/images/SampleBackground1.jpg as path? also removed theme dark and background color

<!-- note: potentially change this to landing theme instead of article?-->

<div class="layout--home">
  {%- include paginator.html -%}
</div>
<script>
  {%- include scripts/home.js -%}
</script>

{{ content }}
